body{
    margin: 0;
    padding: 0;
    background-color: #d2dbe9;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}

.wrapper01 {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}
 
.toolbar{
    width: 68%;
    background-color: #444;
    overflow: auto;
}
 
.toolbar a {
    float: left;
    width: 5%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: white;
}

.toolbar a:hover {
    background-color: rgb(34, 34, 180);
  }

.selected {
    background-color: rgb(172, 87, 87); 
}
 
#my-canvas{
    border: 3px solid rgb(0, 0, 0);
}
 
#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}
 
.toolbar a img{
    max-width:100%;
    height:auto;
}

canvas{border: 1px solid #000;}
body{background-color:#ebebeb; cursor:crosshair;}
#buttons {
  position: absolute;
  top: 5px;
  left: 10px;
}
#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}

.brushpng{
  cursor: n-resize;
}
.eraserpng{
  cursor: progress;
}
.circlepng{
  cursor: row-resize;
}
.trianglepng{
  cursor: wait;
}
.rectanglepng{
  cursor: zoom-in;
}
.typeepng{
  cursor: zoom-out;
}
.undopng{
  cursor: inherit;
}
.redopng{
  cursor: se-resize;
}
